In [5]:
import sys
!{sys.executable} -m pip install stellargraph

Looking in indexes: https://pypi.org/simple, https://Packages:****@pkgs.dev.azure.com/asos/_packaging/Packages/pypi/simple/
Collecting stellargraph
  Downloading stellargraph-1.2.1-py3-none-any.whl (435 kB)
     |████████████████████████████████| 435 kB 4.9 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.1.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from stellargraph) (1.4.1)
Requirement already satisfied: pandas>=0.24 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from stellargraph) (1.3.5)
Collecting networkx>=2.2
  Downloading networkx-2.6.3-py3-none-any.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 6.7 MB/s eta 0:00:01
Requirement already satisfied: matplotlib>=2.2 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from stellargraph) (3.3.4)
Requirement already satisfied: tensorflow>=2.1.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from stellargraph) (2.2.0)
Requirement already satisfied: numpy>=1.14 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from stellargraph) (1.19.0)
Collecting gensim>=3.4.0
  Downloading gensim-4.1.2-cp37-cp37m-macosx_10_9_x86_64.whl (24.0 MB)
     |████████████████████████████████| 24.0 MB 13.0 MB/s eta 0:00:01   |▏                               | 133 kB 7.4 MB/s eta 0:00:04     |███▉                            | 2.9 MB 7.4 MB/s eta 0:00:03     |███████████████████████████████▎| 23.5 MB 13.0 MB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.20 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from stellargraph) (0.24.1)
Collecting smart-open>=1.8.1
  Downloading smart_open-5.2.1-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 6.4 MB/s  eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from matplotlib>=2.2->stellargraph) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from matplotlib>=2.2->stellargraph) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from matplotlib>=2.2->stellargraph) (8.1.0)
Requirement already satisfied: cycler>=0.10 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from matplotlib>=2.2->stellargraph) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from matplotlib>=2.2->stellargraph) (3.0.6)
Requirement already satisfied: six in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->stellargraph) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from pandas>=0.24->stellargraph) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from scikit-learn>=0.20->stellargraph) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from scikit-learn>=0.20->stellargraph) (1.0.1)
Requirement already satisfied: termcolor>=1.1.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (1.1.0)
Requirement already satisfied: tensorflow-estimator<2.3.0,>=2.2.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (2.2.0)
Requirement already satisfied: wrapt>=1.11.1 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (1.13.3)
Requirement already satisfied: google-pasta>=0.1.8 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (0.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (1.1.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (3.3.0)
Requirement already satisfied: tensorboard<2.3.0,>=2.2.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (2.2.2)
Requirement already satisfied: gast==0.3.3 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (0.3.3)
Requirement already satisfied: wheel>=0.26 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (0.37.0)
Requirement already satisfied: protobuf>=3.8.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (3.19.1)
Requirement already satisfied: absl-py>=0.7.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (1.0.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (2.10.0)
Requirement already satisfied: astunparse==1.6.3 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (1.6.3)
Requirement already satisfied: grpcio>=1.8.6 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorflow>=2.1.0->stellargraph) (1.42.0)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (2.0.2)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (2.26.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (0.4.6)
Requirement already satisfied: setuptools>=41.0.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (53.0.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (1.8.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (3.3.6)

Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (4.0.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (0.4.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (2.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (3.3)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/sofiede.cnudde/.local/share/virtualenvs/recommendations-servables-tp32j9q3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow>=2.1.0->stellargraph) (3.1.1)
Installing collected packages: smart-open, networkx, gensim, stellargraph
Successfully installed gensim-4.1.2 networkx-2.6.3 smart-open-5.2.1 stellargraph-1.2.1

In [6]:
from stellargraph import StellarGraph

In [7]:
import pandas as pd

In [83]:
tr_customer = pd.read_csv('/Users/sofiede.cnudde/Downloads/GNN_returns_prediction_dataset_v2/customer_nodes_training.csv')
te_customer = pd.read_csv('/Users/sofiede.cnudde/Downloads/GNN_returns_prediction_dataset_v2/customer_nodes_testing.csv')

tr_product = pd.read_csv('/Users/sofiede.cnudde/Downloads/GNN_returns_prediction_dataset_v2/product_nodes_training.csv')
te_product = pd.read_csv('/Users/sofiede.cnudde/Downloads/GNN_returns_prediction_dataset_v2/product_nodes_testing.csv')

tr_event = pd.read_csv('/Users/sofiede.cnudde/Downloads/GNN_returns_prediction_dataset_v2/event_table_training.csv')
te_event = pd.read_csv('/Users/sofiede.cnudde/Downloads/GNN_returns_prediction_dataset_v2/event_table_testing.csv')

In [84]:
tr_customer.insert(0, 'customer_id', range(0, 0 + len(tr_customer)))

In [85]:
tr_customer

,customer_id,hash(customerId),yearOfBirth,isMale,shippingCountry,premier,salesPerCustomer,returnsPerCustomer,customerReturnRate,customerId_level_(Looks different to image on site)_ratio,...,country_Australia,country_Austria,country_Denmark,country_France,country_Germany,country_Netherlands,country_Sweden,country_UK,country_United States,country_other
0,0,-446743805,1999,0.0,Sweden,0,20,6,0.300000,0.000000,...,0,0,0,0,0,0,1,0,0,0
1,1,1612996322,1965,0.0,Sweden,0,13,7,0.538462,0.000000,...,0,0,0,0,0,0,1,0,0,0
2,2,-1164467430,2004,0.0,Sweden,0,5,1,0.200000,0.000000,...,0,0,0,0,0,0,1,0,0,0
3,3,-1590373505,1975,0.0,Sweden,0,7,1,0.142857,0.000000,...,0,0,0,0,0,0,1,0,0,0
4,4,-1484590025,1998,0.0,Sweden,0,14,7,0.500000,0.142857,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649114,649114,1722300338,1999,1.0,France,0,5,1,0.200000,0.000000,...,0,0,0,1,0,0,0,0,0,0
649115,649115,571123480,1996,0.0,France,0,5,1,0.200000,0.000000,...,0,0,0,1,0,0,0,0,0,0
649116,649116,271262782,1959,0.0,France,0,8,1,0.125000,0.000000,...,0,0,0,1,0,0,0,0,0,0
649117,649117,-1953278770,1987,0.0,France,0,10,5,0.500000,0.000000,...,0,0,0,1,0,0,0,0,0,0
649118,649118,-787775160,1993,0.0,France,0,2,2,1.000000,0.000000,...,0,0,0,1,0,0,0,0,0,0

In [87]:
tr_product.insert(0, 'product_id', range(649119, 649119 + len(tr_product)))

In [88]:
tr_product

,product_id,productID,variantID,brandDesc,avgGbpPrice,avgDiscountValue,salesPerProduct,returnsPerProduct,productReturnRate,variantID_level_(Looks different to image on site)_ratio,...,brand_ASOS DESIGN,brand_ASOS Petite,brand_ASOS Tall,brand_Bershka,brand_Collusion,brand_New Look,brand_Nike,brand_Stradivarius,brand_Topshop,brand_other
0,649119,22290913,22291160,ASOS DESIGN,10.71,17.20,9,2,0.222222,0.000000,...,1,0,0,0,0,0,0,0,0,0
1,649120,22573885,22573900,ASOS DESIGN,18.74,16.65,63,34,0.539683,0.058824,...,1,0,0,0,0,0,0,0,0,0
2,649121,23079626,23080101,ASOS DESIGN,37.09,17.65,44,22,0.500000,0.181818,...,1,0,0,0,0,0,0,0,0,0
3,649122,200788063,200788071,ASOS DESIGN,15.57,16.56,34,7,0.205882,0.142857,...,1,0,0,0,0,0,0,0,0,0
4,649123,20366186,20366451,ASOS DESIGN,24.50,18.39,10,7,0.700000,0.142857,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431760,1080879,23301980,23302242,other,80.83,21.25,3,3,1.000000,0.000000,...,0,0,0,0,0,0,0,0,0,1
431761,1080880,24006986,24007158,other,91.50,21.43,12,3,0.250000,0.000000,...,0,0,0,0,0,0,0,0,0,1
431762,1080881,200514936,200514947,other,38.62,17.03,11,1,0.090909,1.000000,...,0,0,0,0,0,0,0,0,0,1
431763,1080882,24472594,24472658,other,35.09,21.23,74,19,0.256757,0.052632,...,0,0,0,0,0,0,0,0,0,1
431764,1080883,23302856,23312474,other,35.00,16.30,6,3,0.500000,0.000000,...,0,0,0,0,0,0,0,0,0,1

In [93]:
edges = tr_event.merge(tr_customer[['hash(customerId)', 'customer_id']], on='hash(customerId)')
edges = edges.merge(tr_product[['variantID', 'product_id']], on='variantID')
edges

        variantID  hash(customerId)  isReturned  customer_id  product_id
0       200414473       -1239263336           0       331605      744833
1       200414473        1162770021           1       386308      744833
2       200414473        -137798760           1       464969      744833
3       200414473         299132977           0       605105      744833
4        22696410       -1239263336           0       331605      968029
...           ...               ...         ...          ...         ...
990828   22354860        1066635821           1       566907      735460
990829   23820845       -1012869646           1       566917      735463
990830   22698131       -2039555486           1       566920      735467
990831   24550071         447394816           0       566922      735469
990832   24490528          28368440           0       566929      735471

[990833 rows x 5 columns]

In [94]:
customer_nodes = tr_customer.set_index('customer_id')

In [95]:
product_nodes = tr_product.set_index('product_id')

In [96]:
customer_nodes = customer_nodes[['yearOfBirth', 'isMale']]
customer_nodes

             yearOfBirth  isMale
customer_id
0                   1999     0.0
1                   1965     0.0
2                   2004     0.0
3                   1975     0.0
4                   1998     0.0
...                  ...     ...
649114              1999     1.0
649115              1996     0.0
649116              1959     0.0
649117              1987     0.0
649118              1993     0.0

[649119 rows x 2 columns]

In [97]:
product_nodes = product_nodes[['productID', 'avgGbpPrice']]
product_nodes

            productID  avgGbpPrice
product_id
649119       22290913        10.71
649120       22573885        18.74
649121       23079626        37.09
649122      200788063        15.57
649123       20366186        24.50
...               ...          ...
1080879      23301980        80.83
1080880      24006986        91.50
1080881     200514936        38.62
1080882      24472594        35.09
1080883      23302856        35.00

[431765 rows x 2 columns]

In [105]:
df_returned = edges[edges.isReturned == 1]

In [106]:
df_returned = df_returned[['customer_id', 'product_id']]

In [111]:
df_returned

        customer_id  product_id
1            386308      744833
2            464969      744833
5            331605      968029
9            361404     1030071
12           331605      668412
...             ...         ...
990821       566884      735445
990827       566905      735459
990828       566907      735460
990829       566917      735463
990830       566920      735467

[556349 rows x 2 columns]

In [107]:
returns = StellarGraph({"customers": customer_nodes, "products": product_nodes},
                       df_returned, source_column="customer_id", target_column="product_id")
print(returns.info())

StellarGraph: Undirected multigraph
 Nodes: 1080884, Edges: 556349

 Node types:
  customers: [649119]
    Features: float32 vector, length 2
    Edge types: customers-default->products
  products: [431765]
    Features: float32 vector, length 2
    Edge types: products-default->customers

 Edge types:
    customers-default->products: [556349]
        Weights: all 1 (default)
        Features: none

In [109]:
df_events = edges[['customer_id', 'product_id', 'isReturned']]

In [110]:
purchases_returns = StellarGraph({"customers": customer_nodes, "products": product_nodes},
                                 df_events, source_column="customer_id", target_column="product_id",
                                 edge_type_column="isReturned")
print(purchases_returns.info())

StellarGraph: Undirected multigraph
 Nodes: 1080884, Edges: 990833

 Node types:
  customers: [649119]
    Features: float32 vector, length 2
    Edge types: customers-0->products, customers-1->products
  products: [431765]
    Features: float32 vector, length 2
    Edge types: products-0->customers, products-1->customers

 Edge types:
    customers-1->products: [556349]
        Weights: all 1 (default)
        Features: none
    customers-0->products: [434484]
        Weights: all 1 (default)
        Features: none