In [2]:
import pandas as pd

df_customers = pd.read_csv("../raw/gnn_data/customer_nodes_validation.csv")
df_customers

,hash(customerId),yearOfBirth,isMale,shippingCountry,premier,salesPerCustomer,returnsPerCustomer,customerReturnRate,customerId_level_(Looks different to image on site)_ratio,customerId_level_(More_than_one_size_ordered)_ratio,...,country_Australia,country_Austria,country_Denmark,country_France,country_Germany,country_Netherlands,country_Sweden,country_UK,country_United States,country_other
0,2019476153,2016,0.0,UK,0,2,2,1.000000,0.000000,0.500000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-737551251,1998,0.0,Netherlands,0,26,25,0.961538,0.000000,0.360000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-1366799419,1993,0.0,UK,0,16,7,0.437500,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1217904925,2000,0.0,Germany,0,18,13,0.722222,0.000000,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,-1503676523,2000,0.0,Germany,0,18,14,0.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,528768865,1994,0.0,UK,0,19,4,0.210526,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9939,1954646278,1998,0.0,UK,3,25,10,0.400000,0.000000,0.200000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9940,-1555644432,1995,0.0,United States,0,13,4,0.307692,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9941,1168350978,1999,1.0,UK,0,13,9,0.692308,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9942,-870089817,1997,0.0,Germany,0,22,22,1.000000,0.045455,0.045455,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [27]:
cust_rr_mapping = {
        "customerId_level_(Looks different to image on site)_ratio": 0,
        "customerId_level_(More_than_one_size_ordered)_ratio": 1,
        "customerId_level_(Late_Delivery)_ratio": 2,
        "customerId_level_(Poor Quality)_ratio": 3,
        "customerId_level_(Doesn't suit)_ratio": 4,
        "customerId_level_(Incorrect item)_ratio": 5,
        "customerId_level_(Parcel Damaged)_ratio": 6,
        "customerId_level_(Faulty/Broken)_ratio": 7,
        "customerId_level_(Too Big/Long)_ratio": 8,
        "customerId_level_(Too Small/Short)_ratio": 9,
        "customerId_level_(Changed my Mind)_ratio": 10,
        "customerId_level_(Missing item from multipack)_ratio": 11,
        "customerId_level_(Doesn't fit)_ratio": 12
    }

cust_rrs = df_customers[list(cust_rr_mapping.keys())]
cust_top_rr = cust_rrs.idxmax(axis="columns")
cust_top_rr = cust_top_rr.map(cust_rr_mapping).rename("rr_idx")
links_rr = pd.concat([df_customers["hash(customerId)"], cust_top_rr], axis=1)

links_rr

      hash(customerId)  rr_idx
0           2019476153       1
1           -737551251       1
2          -1366799419       4
3           1217904925       4
4          -1503676523       4
...                ...     ...
9938         528768865       0
9939        1954646278       1
9940       -1555644432       9
9941        1168350978       4
9942        -870089817       4

[9943 rows x 2 columns]